
<section class="collections">
 <div class="collections__container">
    <h2 class="collections__title"><span class="title-icon">✦</span>{{ settings['new-collections'].settings.heading }}<span class="title-icon">✦</span></h2>
    <div class="collections__grid">
      {% for collection in collections %}
        {% assign created_date = collection.created_at | date: "%Y-%m-%d" %}
        {% assign comparison_date = '2025-01-01' %}
        {% if created_date >= comparison_date %}
          {% render 'collection-card', collection: collection %}
        {% endif %}
      {% endfor %}
    </div>
 </div>
</section>