<div class="topbar">
  <div class="marquee">
    <div id="marquee-text" data-text="{{ settings['hero-banner'].settings.marquee_text }}">
      <span class="marquee-content"></span>
    </div>
  </div>
</div>
